.Header {
    background-image : url("https://static.gamespot.com/uploads/scale_super/1574/15747411/3331733-best-hardware-of-2017-promo-1-2-thumb.jpg");
    background-size: cover;
    color: white;
    padding : 150px;
}

.Header-p{
    font-size: 50px;
    font-style: bold;

}
