.CheckOutPageDiv{
    color: red;
    display: inline;
    overflow: auto;
    text-align: center;
}

.ProductPaper{
    height: 200;
    max-width: 80%;
    display: flex;
    color: black;
    overflow: auto;
    margin: 15px auto;
    text-align: left;
}

.ImageDiv{
    height: 95%;
    width: 35%;
}

.ProductImage{
    max-height: 100%;
    max-width: 100%;
}

.ProductDescription{
    margin: 15px 0;
    text-align: left;
    width: 65%;
}

.PlaceOrderDiv{
    padding: 50px 0;
}

.AddProductDiv{
    padding: 25px;
}
