.TabStyle{
    color: "#ffffff";
    background-color: "#ffffff";
    font-weight: 400;
    width: '33.4%';
}





@media only screen and (max-width: 972px) {
    .MissionStyle {
        font-size: 15px;
    }
}

@media only screen and (max-width: 770px) {
    .MissionStyle {
        font-size: 12px;
    }
}