.noMatch{
    background-color: black;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.verify{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    // color:red;
    // background-color: black
}
.drawer {
    padding: 50px;
    float: left;
    
}