.CheckOutPage{
    padding-bottom: 35px;
    border: 1px solid black;
}

.ProductPaper{
    height: 150px;

}

.ImageSection{
    max-height: 100%;
    max-width: 100%;
    height: 95%;
    width: 30%;
    margin: auto 5px;
}

.ProductPic{
    height: 100%;
    width: 100%;
    margin: auto;
}

.DescribeProduct{
    padding-left: 10px;
    width: 65%;
    margin: 15px 15px;
}

.PlaceOrderDiv{
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 15px auto;
    background-color: #838487;
    position: relative;
    right: 5px;

}




