.CheckOutPageDiv{
    display: inline;
    overflow: auto;
    text-align: center;
    padding-bottom: 35px;
}

.ProductPaper{
    height: 150px;
    max-width: 80%;
    display: flex;
    overflow: auto;
    margin: 5px auto;
    text-align: left;
}

.ImageSection{
    height: 95%;
    width: 30%;
    margin: auto 5px;
}

.ProductPic{
    height: 100%;
    width: 100%;
    margin: auto;
}

.DescribeProduct{
    padding-left: 10px;
    width: 65%;
    margin: 15px 15px;
}

.PlaceOrderDiv{
    padding: 50px 0;
    border: 1px solid black;
    width: 80%;
    margin: 30px auto;
    background-color: #838487;
}




